doctype
html(lang='en')
  head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js")
    script(src="./public/js/paint.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
    meta(charset='utf-8')
    title Holi
  body
    h1 Pa k kieres saber eso jaja salu2
